@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
  font-family:Lobster,sans-serif;
  box-sizing:border-box;
  }
body{
  margin:0;
  padding:0;
  min-height:100vh;
  text-align:center;
  background-color:hsl(0, 0%, 90%);
}
.index{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
img{
  width:100%;
}
ul,ol{
  display:inline-block;
  margin:0;
  margin-bottom:1em;
  padding:0;
  text-align:left;
}
h1,h2,h3{
  text-decoration-line:underline;
  color:hsl(86, 87%, 32%);
}
a:hover{
  color:red;
}
ol li:nth-last-of-type(1){
  font-weight:bold;
  color:orangered;
}